<div class="menu-wrap">
    <input type="checkbox" class="toggler">
    <div class="hamburger">
        <div></div>
    </div>
    <!-- <p>Safety and Security</p> -->
    <div class="menu">
        <div>
            <div>
                <ul>
                    <li>
                        <a href="/home">
                            <div class="card">
                                <h4>Home</h4> 
                                <!-- <img src="../../../assets/img/facial-recognition.svg" alt="Avatar" style="width:20%">
                                <p>Cogvision’s AI</p> -->
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/about-us">
                            <div class="card">
                            <h4>About Us</h4> 
                            <!-- <img src="../../../assets/img/learner.svg" alt="Avatar" style="width:20%">
                            <p>Capture Vehicle Plates</p>  -->
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="/safety-and-security">
                            <div class="card">
                            <h4>Services</h4> 
                            <img src="../../../assets/img/icons8-up-down-arrow-64.png" alt="Avatar" style="width:40%">
                            <h4>safety-and-security</h4>
                            </div>
                        </a>
                    </li>
                </ul>
            
            </div>
        </div>
    </div>
</div>
<!-- menu right -->
<div class="menu-wrap-right">
    <input type="checkbox" class="toggler-right">
    <div class="hamburger-right">
        <div></div>
    </div>
    <!-- <p>Industrial Inspection</p> -->
    <div class="menu-right">
        <div>
            <div>
                        <ul>
                            <li>
                                <a href="/home">
                                    <div class="card">
                                        <h4>Home</h4> 
                                        <!-- <img src="../../../assets/img/facial-recognition.svg" alt="Avatar" style="width:20%">
                                        <p>Cogvision’s AI</p> -->
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/about-us">
                                    <div class="card">
                                    <h4>About Us</h4> 
                                    <!-- <img src="../../../assets/img/learner.svg" alt="Avatar" style="width:20%">
                                    <p>Capture Vehicle Plates</p>  -->
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/industrial-inspection">
                                    <div class="card">
                                    <h4>Services</h4> 
                                    <img src="../../../assets/img/icons8-up-down-arrow-64.png" alt="Avatar" style="width:40%">
                                    <h4>industrial-inspection</h4>
                                    </div>
                                </a>
                            </li>
                        </ul>
                   
            </div>
        </div>
    </div>
</div>