<div id="content" class="scrollbar">

    <h1>Facial Detection & Recognition System</h1>
    <div>Facial detection and recognition (FRS) technology powered by Cogvision’s AI-platform can identify one dataset against 100,000 faces per second and upto 30 fps from the database in real-time. This allows businesses to accelerate response times by quickly identifying people of interest and facilitate decision making!</div>
    <img class="img-fluid" src='https://placehold.it/1300x768' alt=''/>
    <hr/>
    <h1>Automated License Plate Recognition (ALPR) </h1>
    <div>Automated License Plate Recognition (LPR) Analytics – Ability to Accurately Capture Vehicle License Plates and process the same.</div>
    <div>Following are the Functionalities of AI based Automated Number Plate Recognition (ANPR) System & Vehicle of Interest Search & Identification Module 
        <ul>
            <li>Accuracy</li>
            <li>Detection & Recognition</li>
            <li>Recognition at night</li>
            <li>Vehicle Detection by Color and logo / Color and number plate</li>
            <li>Alert Generation</li>
            <li>Vehicle Log Module</li>
            <li>General Specification</li>
            <li>Traffic Analytics</li>
        </ul>
    </div>
    <img class="img-fluid" src='https://placehold.it/1300x768' alt=''/>
    <hr/>

    <h1>Personal Protection Equipment (PPE) </h1>
    <div>Personal protective equipment (PPE) analytics to minimize exposure to hazards that cause serious workplace injuries and illnesses, as well as for sports and other recreational activities
    </div>
    <div>PPE is protective clothing, helmets, goggles, or other garments or equipment designed to protect the wearer's body from injury or infection.</div>
    <img class="img-fluid" src='../../../assets/img/ppe-one.png' alt=''/>
    <img class="img-fluid" src='../../../assets/img/ppe-two.png' alt=''/>
    <hr/>

    <h1>People Utilization Time</h1>
    <div>Ability to monitor and report the amount of an employee's available time that's used for productive, billable work, expressed as a percentage. An employee's utilization rate is a critical metric for organizations to track.</div>
    <div>Example - We can trace the status of Teller Availability/Unavailability – In a Teller counter person has to be present to minimize wait time for customer and ensuring the smooth handling of cash/cheque transaction Camera need to be position to optimize the number of counter and data clarity of the feed. </div>
    <div>Advantages: Occupancy engagement of teller counter person with the reference of customer standing to do the transaction can be trace to optimize efficiency.</div>
    <img class="img-fluid" src='https://placehold.it/1300x768' alt=''/>
    <hr/>

    <h1>Perimeter Intrusion Detection </h1>
    <div>Recognizing movement of objects or people in restricted zones</div>
    <div>The system is able to detect an act of intrusion. Intrusion herein refers to the instance of an individual crossing a pre-defined virtual fence defined by the user</div>
    <img class="img-fluid" src='https://placehold.it/1300x768' alt=''/>
    <hr/>

    <h1>Social Distance Management </h1>
    <div>A Vision-based Social Distancing and Critical Density Detection System for the new normal way of living! Through Cogvision analytics we can help measure social density in your region of interest (ROI) and by modulating inflow can provide information on social distancing violation occurring events.</div>
    <img class="img-fluid" src='https://placehold.it/1300x768' alt=''/>
    <hr/>

    <h1>Counting & Crowd Management </h1>
    <div>Analyses crowd density, motion, behavior in a user defined zone based on age and gender. </div>
    <div>Understanding the crowd movement and management for the security and facilities management agencies!</div>
    <div>Raises an alert if the crowd density within a camera view is above a certain threshold</div>
    <img class="img-fluid" src='https://placehold.it/1300x768' alt=''/>
    <hr/>

    <h1>Behavioral Analysis </h1>
    <div>We can capture staff emotion or do behavioral analysis in the region of interest area.</div>
    <div>Example: Teller Counter, Branch Manager or any specific desk Behavior possible to capture: anger, contempt, disgust, fear, joy, sadness and surprise. Behavior/Code of conduct is very important at workplace to represent the efficiency and smooth working process.</div>
    <img class="img-fluid" src='https://placehold.it/1300x768' alt=''/>
    <hr/>

    <h1>Thermal Scanning </h1>
    <div>We have the capability of doing analytics on the military grade EO/IR cameras feature detection ranges for humans up to 2-5 km and vehicles at 5-10 km range. Depending on pan/tilt and gyro system selected our vision analytics can be used on moving vehicles and ships to maintain a steady image on target and come as standard with incredible build quality and cutting edge technology to increase range detection and reduce outside influences such as fog/haze.</div>
    <img class="img-fluid" src='https://placehold.it/1300x768' alt=''/>
    <hr/>

    <h1>Emergency / Fire / Smoke & Safety Alert</h1>
    <img class="img-fluid" src='../../../assets/img/SafetyAlert.png' alt=''/>
    <hr/>

</div>
