    <!-- OPEN - Loading part -->
	<div class="loading-part animated-middle">

		<!-- OPEN - Content -->
		<div class="item-title text-center">

			<!-- Your logo -->
			<img src="../../../assets/logo.png" alt="" class="logo-loading" />

			<!-- Dots loading -->
			<div class="loader">
				<span></span>
				<span></span>
				<span></span>
			</div>

			<p class="loading-text">loading</p>

		</div> <!-- CLOSE - Content -->

	</div> <!-- CLOSE - Loading part -->

	<!-- Main borders around the screen -->
	<div class="border-bar-top"></div>
	<div class="border-bar-right"></div>
	<div class="border-bar-bottom"></div>
    <div class="border-bar-left"></div>
    
    	<!-- OPEN - MultiScroll Div -->
	<div id="multi-div">

		<!-- OPEN - LEFT PART -->
		<div class="ms-left animated-middle ">

            	<!-- OPEN - 1st Left Part -->
			<div class="ms-section fisrt-lt fisrt-lt" id="left1">
				
				<!-- Overlay -->
				<div class="overlay"></div>

				<!-- OPEN - Content -->
				<div class="item-title text-center">

                    <!-- Your logo -->
                    <!-- <img src="../../../assets/artificial-intelligence.svg" alt=""  class="brand-logo"/> -->
					
					<!-- <h1>Meet Ai</h1>-->
					<div class="separator-middle" style="margin-top: 28rem;"></div> 

						<!-- OPEN - Carousel -->
						<div id="carousel-pictures" class="carousel slide text txt-center" data-interval="4000" data-ride="carousel">
  

							<!-- OPEN - Wrapper for carousel items -->
							<div class="carousel-inner">

								<div class="active item" style="height: 48px;">

									<a href="#" class="swipebox" title="Click to View Page" >
										<div class="carousel-caption">
											<h3>Facial Detection & Recognition System</h3>
										</div>
									</a>
								</div>

								<div class="item" style="height: 48px;">

									<a href="#" class="swipebox" title="Click to View Page" >
										<div class="carousel-caption">
											<h3>Automated License Plate Recognition (ALPR)</h3>
										</div>
									</a>

								</div>

								<div class="item" style="height: 48px;">

									<a href="#" class="swipebox" title="Click to View Page" >
										<div class="carousel-caption">
											<h3>Personal Protection Equipment (PPE)</h3>
										</div>
									</a>
								</div>

								<div class="item" style="height: 48px;">

									<a href="#" class="swipebox" title="Click to View Page" >
										<div class="carousel-caption">
											<h3>People Utilization Time</h3>
										</div>
									</a>
								</div>

								<div class="item" style="height: 48px;">

									<a href="#" class="swipebox" title="Click to View Page" >
										<div class="carousel-caption">
											<h3>Perimeter Intrusion Detection</h3>
										</div>
									</a>
								</div>

								<div class="item" style="height: 48px;">

									<a href="#" class="swipebox" title="Click to View Page" >
										<div class="carousel-caption">
											<h3>Social Distancing</h3>
										</div>
									</a>
								</div>

								<div class="item" style="height: 48px;">

									<a href="#" class="swipebox" title="Click to View Page" >
										<div class="carousel-caption">
											<h3>Counting & Crowd Management </h3>
										</div>
									</a>
								</div>

								<div class="item" style="height: 48px;">

									<a href="#" class="swipebox" title="Click to View Page" >
										<div class="carousel-caption">
											<h3>Behavioural Analysis</h3>
										</div>
									</a>
								</div>

								<div class="item" style="height: 48px;">

									<a href="#" class="swipebox" title="Click to View Page" >
										<div class="carousel-caption">
											<h3>Thermal Scanning </h3>
										</div>
									</a>
								</div>

								<div class="item" style="height: 48px;">

									<a href="#" class="swipebox" title="Click to View Page" >
										<div class="carousel-caption">
											<h3>Emergency / Fire / Smoke & Safety Alert</h3>
										</div>
									</a>
								</div>

							</div>
							<!-- CLOSE - Wrapper for carousel items -->
						
						</div> <!-- CLOSE - Carousel -->
				</div> <!-- CLOSE - Content -->

				<!-- Mouse Scroll -->
				<div class="instruction">
					<div class="mouse"></div>
					<p class="scroll">SCROLL
						<br>
						<span>or use keys &nbsp;<i class="fa fa-arrow-circle-down"></i> <i class="fa fa-arrow-circle-up"></i></span>
					</p>
				</div>
			
			
            </div> <!-- CLOSE - 1st Left Part -->
            
            			<!-- OPEN - 2nd Left Part -->
			<div class="ms-section sec-lt" id="left2">

				<!-- Overlay -->
				<div class="overlay"></div>

				<!-- OPEN - Content -->
				<div class="item-title">

					<h2>About Us</h2>

			        <div class="separator"></div>

			        <p>Cogvision Pvt. Ltd., is a subsidiary of Cogxar research and development center for artificial intelligence which was founded in the year 2012.</p>
			
					<!-- OPEN - Progress bars -->
					<div class="progress-block">

						<h3>Cogvision’s AI platform is focused on providing next-generation AI based video and vision analytics by optimizing and reducing the infrastructure needs (overall storage, compute and network bandwidth requirements) for our clients. </h3>

						<div class="progress-part">

	                        <div class="progress-dash" style="width:75%">
	                            <!-- <span>±75%</span> -->
	                        </div>

	                    </div>

	                    <h3>Cogvision’s focus areas would be to bring intelligence into Industrial Inspection using proprietary Mathematical and analytical models and providing Safety & Security solutions using advanced Facial Recognition AI models. </h3>

	                    <div class="progress-part">

	                        <div class="progress-dash" style="width:90%">
	                            <!-- <span>-90kg</span> -->
	                        </div>

	                    </div>

	                    <h3>Headquartered in Bangalore, Cogvision has a strong techno leadership team with the combination of strong R&D in artificial intelligence and exposure to running large scale programs at Infosys, Accenture, Dell, Siemens, PwC, IBM, Thomson Reuters, Honeywell & Procter Gamble and building successful startups.</h3>

	                    <div class="progress-part">

	                        <div class="progress-dash" style="width:85%">
	                            <!-- <span>85g</span> -->
	                        </div>

	                    </div>

	                </div> <!-- CLOSE - Progress bars -->

				</div> <!-- CLOSE - Content -->

            </div> <!-- CLOSE - 2nd Left Part -->
            
			<!-- OPEN - 3rd Left Part -->
			<div class="ms-section third-lt" id="left3">

				<!-- Overlay -->
				<div class="overlay"></div>

				<!-- OPEN - Content -->
				<!-- <div class="item-title text-center">
				
					<a class="action animated-middle" href="#" target="_blank">We are Emerging</a>
					<img src="../../../assets/4249454.jpg" alt="" height=500 class="img-responsive">

				</div>  -->
				<!-- CLOSE - Content -->

            </div> <!-- CLOSE - 3rd Left Part -->
            
			<!-- OPEN - 4th Left Part -->
			<div class="ms-section fourth-lt" id="left4">

				<!-- Overlay -->
				<div class="overlay"></div>

				<!-- OPEN - Content -->
				<div class="item-title">
					
					<h2>Contact Us</h2>

	            	<div class="separator"></div>

	            	<p>We would love to hear, what you have to say.</p>
	            	
					<!-- OPEN - Contact row -->
					<div class="row">

						<!-- OPEN - Block contact -->
						<div class="col-xs-12 col-sm-12 col-lg-4 block-contact">
							
							<h3><i class="fa fa-map-marker"></i> Our address</h3>

							<p>
								<a href="https://g.page/socialnectars?share" target="_blank"><strong>CogVision</strong><br>
								<strong>Social Nectars, India</strong></a>
							</p>

						</div> <!-- CLOSE - Block contact -->

						<!-- OPEN - Block contact -->
						<div class="col-xs-12 col-sm-12 col-lg-4 block-contact">
							
							<h3><i class="fa fa-phone"></i> <i class="fa fa-skype"></i> Call us</h3>

							<p>
								<strong><a href="tel:+91 xxx">(+91) 66-xxxx-611</a></strong><br>
								<strong><a href="tel:+691 xxx">(+91) xx-5628-146</a></strong>
							</p>

						</div> <!-- CLOSE - Block contact -->

						<!-- OPEN - Block contact -->
						<div class="col-xs-12 col-sm-12 col-lg-4 block-contact">
							
							<h3><i class="fa fa-envelope-o"></i> Write us</h3>

							<p>
								<strong><a href="mailto:info@socialnectars.com">info@socialnectars.com</a></strong><br>
								<strong><a href="mailto:app@socialnectars.com">app@socialnectars.com</a></strong>
							</p>

						</div> <!-- CLOSE - Block contact -->

					</div> <!-- CLOSE - Contact row -->

					<!-- OPEN - Contact row -->
					<div class="row">

						<!-- OPEN - Block contact -->
						<div class="col-xs-12 col-sm-12 col-lg-12 block-contact">

							<h3><i class="fa fa-users"></i> Social Media</h3>

							<!-- OPEN - Social Media -->
							<div id="social-nav">
								<ul>
									<!-- Facebook -->
									<li data-toggle="tooltip" data-placement="bottom" data-title="Like us!" data-trigger="hover">
										<a href="#" class="facebook-color social-media"><i class="fa fa-facebook"></i></a>
									</li>

									<!-- Twitter -->
									<li data-toggle="tooltip" data-placement="bottom" data-title="Follow us!" data-trigger="hover">
										<a href="#" class="twitter-color social-media"><i class="fa fa-twitter"></i></a>
									</li>

									<!-- Flickr -->
									<li data-toggle="tooltip" data-placement="bottom" data-title="Discover us!" data-trigger="hover">
										<a href="#" class="flickr-color social-media"><i class="fa fa-flickr"></i></a>
									</li>

									<!-- Soundcloud -->
									<li data-toggle="tooltip" data-placement="bottom" data-title="Listen us!" data-trigger="hover">
										<a href="#" class="soundcloud-color social-media"><i class="fa fa-soundcloud"></i></a>
									</li>

									<!-- Linkedin -->
									<li data-toggle="tooltip" data-placement="bottom" data-title="Hire us!" data-trigger="hover">
										<a href="#" class="linkedin-color social-media"><i class="fa fa-linkedin"></i></a>
									</li>

								</ul>
							</div> <!-- CLOSE - Social Media -->

						</div> <!-- CLOSE - Block contact -->

					</div> <!-- CLOSE - Contact row -->

				</div> <!-- CLOSE - Content -->

			</div> <!-- CLOSE - 4th Left Part -->

        </div> <!-- CLOSE - LEFT PART -->
        
        
		<!-- OPEN - RIGHT PART -->
		<div class="ms-right animated-middle" id="right-part">

			<!-- OPEN - 1st Right Part -->
			<div class="ms-section first-rt" id="right1">
				
				<!-- Overlay -->
				<div class="overlay"></div>

				<!-- OPEN - Content -->
				<div class="item-title text-center">

					<!-- OPEN - Countdown part -->
					<div id="countdown_dashboard">

						<!-- OPEN - Countdown row -->
						<div class="row">
	                
	                        <!-- OPEN - Figures days -->
	                        <div class="col-xs-12 col-sm-12 col-lg-12 dash-glob">
	                            
	                            <!-- Days / if you need only 2 figures for the day, delete the first line <div class="digit">0</div> -->
	                            <!-- <div class="dash days_dash">
	                                <div class="digit animated-middle opacity-0">1</div>
	                                <div class="digit animated-middle opacity-0">0</div>
	                                <div class="digit animated-middle opacity-0">0</div>
	                                <div class="text-right animated-middle opacity-0">+ Products</div>
	                            </div> -->

	                        </div> <!-- CLOSE - Figures days -->

	                        <!-- OPEN - Text under -->
	                        <div class="col-xs-12 col-sm-12 col-lg-12">

								<!-- <h3>Days Before the Launch...</h3> -->
								<!-- <span class="text-day">
	                        		<h3 class="text-news animated-middle opacity-0">...we understand<span class="point"> Quality Matters</span></h3>
								</span> -->
			                	<!-- OPEN - Newsletter part -->
								<div id="subscribe" class="animated-middle opacity-0">

					                <!-- OPEN - Newsletter form -->
					                <form action="#" id="notifyMe" method="POST">

					                    <div class="form-group">

					                        <div class="controls">
					                            
					                        	<!-- Field  -->
					                        	<!-- <input type="text" id="mail-sub" name="email" placeholder="We design to suit your needs" onfocus="this.placeholder = ''" onblur="this.placeholder = 'We design to suit your needs'" class="form-control email srequiredField" disabled/> -->
																		<!-- OPEN - Carousel -->
						<div class="separator-middle" style="margin-top: 30rem;"></div> 
						<div id="carousel-pictures" class="carousel slide text txt-center" data-interval="4000" data-ride="carousel">
  

							<!-- OPEN - Wrapper for carousel items -->
							<div class="carousel-inner">

								<div class="active item" style="height: 48px;">

									<a href="#" class="swipebox" title="Click to View Page" >
										<div class="carousel-caption">
											<h3>Poka-Yoke</h3>
										</div>
									</a>
								</div>

								<div class="item" style="height: 48px;">

									<a href="#" class="swipebox" title="Click to View Page" >
										<div class="carousel-caption">
											<h3>Indutrial 4.0</h3>
										</div>
									</a>

								</div>

								<div class="item" style="height: 48px;">

									<a href="#" class="swipebox" title="Click to View Page" >
										<div class="carousel-caption">
											<h3>Smart Machines</h3>
										</div>
									</a>

								</div>

								<div class="item" style="height: 48px;">

									<a href="#" class="swipebox" title="Click to View Page" >
										<div class="carousel-caption">
											<h3>Cloud Computing</h3>
										</div>
									</a>

								</div>

								<div class="item" style="height: 48px;">

									<a href="#" class="swipebox" title="Click to View Page" >
										<div class="carousel-caption">
											<h3>Quality Inspection</h3>
										</div>
									</a>

								</div>

								<div class="item" style="height: 48px;">

									<a href="#" class="swipebox" title="Click to View Page" >
										<div class="carousel-caption">
											<h3>Defect Analysis</h3>
										</div>
									</a>

								</div>

								<div class="item" style="height: 48px;">

									<a href="#" class="swipebox" title="Click to View Page" >
										<div class="carousel-caption">
											<h3>Internet of Things</h3>
										</div>
									</a>

								</div>

								<div class="item" style="height: 48px;">

									<a href="#" class="swipebox" title="Click to View Page" >
										<div class="carousel-caption">
											<h3>Cognitive computing
											</h3>
										</div>
									</a>

								</div>

							</div>
							<!-- CLOSE - Wrapper for carousel items -->
						
						</div> 
						<!-- CLOSE - Carousel -->
					                            <!-- Button  -->
					                            <!-- <button class="btn btn-lg submit">Notify Me</button> -->

												<div class="clear"></div>

					                        </div>

					                    </div>

					                </form> <!-- CLOSE - Newsletter form -->

									<!-- OPEN - Newsletter message -->
									<div class="block-message">

										<div class="message">

											<p class="notify-valid"></p>

										</div>

									</div> <!-- CLOSE - Newsletter message -->

				        		</div> <!-- CLOSE - Newsletter part -->

	                        </div> <!-- CLOSE - Text under -->

	                    </div> <!-- CLOSE - Countdown row -->

	                </div> <!-- CLOSE - Countdown part -->

				</div> <!-- CLOSE - Content -->

            </div> <!-- CLOSE - 1st Right Part -->
            
			<!-- OPEN - 2nd Right Part -->
			<div class="ms-section sec-rt" id="right2">

				<!-- Overlay -->
				<div class="overlay"></div>

				<!-- OPEN - Content -->
				<div class="item-title">

					<!-- OPEN - Carousel -->
					<div id="carousel-pictures" class="carousel slide" data-interval="6000" data-ride="carousel">

				    	<!-- Carousel indicators -->
				        <ol class="carousel-indicators">
				            <li data-target="#carousel-pictures" data-slide-to="0" class="active"></li>
				            <li data-target="#carousel-pictures" data-slide-to="1"></li>
				            <li data-target="#carousel-pictures" data-slide-to="2"></li>
				        </ol>   

				        <!-- OPEN - Wrapper for carousel items -->
				        <div class="carousel-inner">

				        	<!-- Picture / Caption -->
				            <div class="active item">

	                			<a href="../../../assets/img/qualitya.png" class="swipebox" title="Automated Quality Test" >
	                				<img src="../../../assets/img/qualitya.png" alt="" class="img-responsive" style="width:100%;"/>
	                			</a>

				                <div class="carousel-caption">
				                  <h3>Automated Quality Test</h3>
				                </div>

				            </div>

				            <!-- Picture / Caption -->
				            <div class="item">

	                			<a href="../../../assets/img/qualityb.jpg" class="swipebox" title="Unique design" >
	                				<img src="../../../assets/img/qualityb.jpg" alt="" class="img-responsive" style="width:100%;"/>
	                			</a>

				                <div class="carousel-caption">
				                  <h3>Unique Automation</h3>
				                </div>

				            </div>

				            <!-- Picture / Caption -->
				            <div class="item">

	                			<a href="../../../assets/img/qualityc.jpg" class="swipebox" title="Be on top of things" >
	                				<img src="../../../assets/img/qualityc.jpg" alt="" class="img-responsive" style="width:100%;"/>
	                			</a>

				                <div class="carousel-caption">
				                  <h3>Automated Data Collection</h3>
				                </div>

				            </div>

				        </div>
				        <!-- CLOSE - Wrapper for carousel items -->

				        <!-- OPEN - Carousel controls -->
				        <a class="carousel-control left" href="#carousel-pictures" data-slide="prev">
				            <span class="icon-prev"></span>
				        </a>

				        <a class="carousel-control right" href="#carousel-pictures" data-slide="next">
				            <span class="icon-next"></span>
				        </a> <!-- CLOSE - Carousel controls -->
				    
				    </div> <!-- CLOSE - Carousel -->

				</div> <!-- CLOSE - Content -->
	
            </div> <!-- CLOSE - 2nd Right Part -->
            
            
			<!-- OPEN - 3rd Right Part -->
			<div class="ms-section third-rt" id="right3">

				<!-- Overlay -->
				<div class="overlay"></div>
				
				<!-- OPEN - Content -->
				<div class="item-title">
					
					<h2>Our Services</h2>

	            	<div class="separator"></div>

	            	<p>Our Products and Design provides the best automated testing for all your devices wheather Lorem ipsum dolor sit amet consectetur adipisicing elit</p>

	            	<!-- OPEN - Carousel -->
					<div id="carousel-services" class="carousel slide" data-interval="6000" data-ride="carousel">

				    	<!-- Carousel indicators -->
				       

				        <!-- OPEN - Wrapper for carousel items -->
				        <div class="carousel-inner">

				        	<!-- Services 1 -->
				            <div class="active item">

	                			<!-- OPEN - Services row -->
								<div class="row">

									<!-- OPEN - Block services -->
									<div class="col-xs-12 col-sm-6 col-lg-6 block-services">

										<span class="icon-services icon ion-ios-mic-outline"></span>

										<h3>Captivate your audience</h3>

										<p>Lorem ipsum Do dolor commodo occaecat sit pariatur nisi sit laboris officia exercitation officia laboris ex ullamco nulla do in elit.</p>

									</div> <!-- CLOSE - Block services -->

									<!-- OPEN - Block services -->
									<div class="col-xs-12 col-sm-6 col-lg-6 block-services">

										<span class="icon-services icon ion-ios-flask-outline"></span>

										<h3>Designed for the future</h3>

										<p>Lorem ipsum Do dolor commodo occaecat sit pariatur nisi sit laboris officia exercitation officia laboris ex ullamco nulla do in elit.</p>

									</div> <!-- CLOSE - Block services -->

								</div> <!-- CLOSE - Services row -->

				            </div>
				        </div>
				        <!-- CLOSE - Wrapper for carousel items -->

				        <!-- OPEN - Carousel controls -->
				        <!-- <a class="carousel-control left" href="#carousel-services" data-slide="prev">
				            <span class="icon-prev"></span>
				        </a>

				        <a class="carousel-control right" href="#carousel-services" data-slide="next">
				            <span class="icon-next"></span>
						</a> -->
						 <!-- CLOSE - Carousel controls -->
				    
				    </div> <!-- CLOSE - Carousel -->

				</div> <!-- CLOSE - Content -->

            </div> <!-- CLOSE - 3rd Right Part -->
            
            			<!-- OPEN - 4th Right Part -->
			<div class="ms-section fourth-rt" id="right4">

				<!-- Overlay -->
				<div class="overlay"></div>

				<!-- OPEN - Content -->
				<div class="item-title text-center">
				
					<!-- Contact form -->
                	<form id="contact-form" name="contact-form" method="POST" data-name="Contact Form">

                		<div class="row">

                            <!-- Full name -->
                            <div class="col-xs-12 col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input type="text" id="name" class="form form-control" placeholder="Write your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Write your name'" name="name" data-name="Name" required>
                                </div>
                            </div>

                            <!-- E-mail -->
                            <div class="col-xs-12 col-sm-6 col-lg-6">
                                <div class="form-group">
                                    <input type="email" id="email" class="form form-control" placeholder="Write your email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Write your email address'" name="email-address" data-name="Email Address" required>
                                </div>
                            </div>

                            <!-- Subject -->
                            <div class="col-xs-12 col-sm-12 col-lg-12">
                                <div class="form-group">
                                    <input type="text" id="subject" class="form form-control" placeholder="Write the subject" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Write the subject'" name="subject" data-name="Subject">
                                </div>
                            </div>

                            <!-- Message -->
                            <div class="col-xs-12 col-sm-12 col-lg-12 no-padding">
                                <div class="form-group">
                                    <textarea id="text-area" class="form textarea form-control" placeholder="Your message here... 20 characters Min." onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your message here... 20 characters Min.'" name="message" data-name="Text Area" required></textarea>
                                </div>
                            </div>

                        </div>

                    	<!-- Button submit -->
                    	<button type="submit" id="valid-form" class="btn btn-color" disabled>Send my Message</button>
        
                    </form>
                    <!-- /. Contact form -->
                        
					<div id="block-answer">
						<div id="answer"></div>
					</div>

				</div> <!-- CLOSE - Content -->

            </div> <!-- CLOSE - 4th Right Part -->
            
		</div> <!-- CLOSE - RIGHT PART -->

    </div> <!-- CLOSE - MultiScroll Div -->
    
    	<!-- Social -->
	<!-- <div class="social-icons animated-middle opacity-0">
		<a href="#" title=""><i class="fa fa-facebook"></i></a>
		<a href="#" title=""><i class="fa fa-twitter"></i></a>
		<a href="#" title=""><i class="fa fa-flickr"></i></a>
		<a href="#" title=""><i class="fa fa-soundcloud"></i></a>
		<a href="#" title=""><i class="fa fa-linkedin"></i></a>
    </div> -->
    
    
	<!-- Copyright -->
	<p class="copyright">© SOCIAL NECTARS 2020 - Made for COGVISION</p>