<div id="content" class="scrollbar">

    <!-- <h1>Industry 4.0 </h1>
    <div>Cogvision’s vision based “Inspection AI” framework will empower companies to move towards Intelligent/Smart factories that are using combination of Artificial Intelligence, Smart machines, IoT, Automation and cloud computing. </div>
    <div>We have created our own cognitive environment using proprietary mathematical and analytical models that deliver high precision and accurate results.</div>
    <img class="img-fluid" src='https://placehold.it/1300x768' alt=''/>
    <hr/>
    <h1>Vision based Poka-yoke</h1>
    <div>What is Poka-yoke?  </div>
    <div>Mistake proofing/ Fool proofing, or its Japanese equivalent poka-yoke (pronounced PO-ka yo-KAY), is the use of any automatic device or method that either makes it impossible for an error to occur or makes the error immediately obvious once it has occurred. It is a common process analysis tool.</div>
    <div>Cogvision has built an AI framework, which will facilitate poka-yoke in Industrial inspection by helping manufacturing companies drive towards zero defects. Additionally, to reduce overall production costs associated due to delay or repeated processes due to human errors which can be controlled effectively using Cogvision’s Poka Yoke AI framework.</div>
    <div>It also helps management at all levels to streamline the manufacturing process.</div>
    <img class="img-fluid" src='https://placehold.it/1300x768' alt=''/>
    <hr/>

    <h1>Quality Inspection </h1>
    <div>Cogvision has explicitly built industry specific AI powered vision based programs which are available Out of the Box and can be customizable to the client requirements. Given below are Cogvision’s of the shelf programs that are readily available for implementation.
        <ul>
            <li>Assembly Inspection</li>
            <li>Part Inspection</li>
            <li>Sealant Inspection</li>
            <li>Gap Inspection</li>
            <li>Label Inspection</li>
            <li>Defect Analysis</li>
            <li>Additional: Bar Code Scanner, QR Code Analyzer, RFID Reader Interface</li>
        </ul>
    </div>
    <img class="img-fluid" src='https://placehold.it/1300x768' alt=''/>
    <hr/>

    <h1>Cogvision’s Vision based AI can also be integrated with other existing manufacturing systems/IOT devices to help industries become more intelligent.</h1>
    <div>     Example: AGV (Automated Guided Vehicles), Factory workflows, Production Line and Employee/Safety & Security    </div>
    <img class="img-fluid" src='https://placehold.it/1300x768' alt=''/>
    <hr/> -->

    <div class="container">
        <h1>Safety & Security </h1>
        <hr style="color:black">
        <div class="row">
            <p style="color:black"><b>Facial Detection & Recognition System</b></p>
            <hr>
          <div class="col-sm-6 ">
            <img src="./../../../assets/img/safety/1.jpg" alt="" style="width: 100%;">
          </div>
          <div class="col-sm-6 ">
            <p style="color:black">Facial detection and recognition (FRS) technology powered by Cogvision’s AI-platform can identify one dataset against 100,000 faces per second and upto 30 fps from the database in real-time. This allows businesses to accelerate response times by quickly identifying people of interest and facilitate decision making!</p>
          </div>
        </div>
        <div class="row">
            <p style="color:black"><b>Automated License Plate Recognition (ALPR)</b></p>
            <hr>
            <div class="col-sm-6 ">
              <img src="./../../../assets/img/safety/2.jpg" alt="" style="width: 100%;">
            </div>
            <div class="col-sm-6 ">
              <p style="color:black">Automated License Plate Recognition (LPR) Analytics – Ability to Accurately Capture Vehicle License Plates and process the same.
                Following are the Functionalities of AI based Automated Number Plate Recognition (ANPR) System & Vehicle of Interest Search & Identification Module 
                Accuracy
                Detection & Recognition
                Recognition at night
                Vehicle Detection by Color and logo / Color and number plate
                Alert Generation
                Vehicle Log Module
                General Specification
                Traffic Analytics
                </p>
            </div>
          </div>
          <div class="row">
            <p style="color:black"><b>Personal Protection Equipment (PPE) </b></p>
            <hr>
            <div class="col-sm-6 ">
              <img src="./../../../assets/img/safety/3.jpg" alt="" style="width: 100%;">
            </div>
            <div class="col-sm-6 ">
              <p style="color:black">Personal protective equipment (PPE) analytics to minimize exposure to hazards that cause serious workplace injuries and illnesses, as well as for sports and other recreational activities
                PPE is protective clothing, helmets, goggles, or other garments or equipment designed to protect the wearer's body from injury or infection.
                </p>
            </div>
          </div>
          <div class="row">
            <p style="color:black"><b>People Utilization Time </b></p>
            <hr>
            <div class="col-sm-6 ">
              <img src="./../../../assets/img/safety/4.jpg" alt="" style="width: 100%;">
            </div>
            <div class="col-sm-6 ">
              <p style="color:black">Ability to monitor and report the amount of an employee's available time that's used for productive, billable work, expressed as a percentage. An employee's utilization rate is a critical metric for organizations to track.
                Example - We can trace the status of Teller Availability/Unavailability – In a Teller counter person has to be present to minimize wait time for customer and ensuring the smooth handling of cash/cheque transaction Camera need to be position to optimize the number of counter and data clarity of the feed. 
                Advantages: Occupancy engagement of teller counter person with the reference of customer standing to do the transaction can be trace to optimize efficiency.</p>
            </div>
          </div>
          <div class="row">
            <p style="color:black"><b>Perimeter Intrusion Detection  </b></p>
            <hr>
            <div class="col-sm-6 ">
              <img src="./../../../assets/img/safety/5.jpg" alt="" style="width: 100%;">
            </div>
            <div class="col-sm-6 ">
              <p style="color:black">Recognizing movement of objects or people in restricted zones 
                The system is able to detect an act of intrusion. Intrusion herein refers to the instance of an individual crossing a pre-defined virtual fence defined by the user
                </p>
            </div>
          </div>
          <div class="row">
            <p style="color:black"><b>Social Distance Management </b></p>
            <hr>
            <div class="col-sm-6 ">
              <img src="./../../../assets/img/safety/6.jpg" alt="" style="width: 100%;">
            </div>
            <div class="col-sm-6 ">
              <p style="color:black">A Vision-based Social Distancing and Critical Density Detection System for the new normal way of living! Through Cogvision analytics we can help measure social density in your region of interest (ROI) and by modulating inflow can provide information on social distancing violation occurring events.</p>
            </div>
          </div>
          <div class="row">
            <p style="color:black"><b>Counting & Crowd Management  </b></p>
            <hr>
            <div class="col-sm-6 ">
              <img src="./../../../assets/img/safety/7.jpg" alt="" style="width: 100%;">
            </div>
            <div class="col-sm-6 ">
              <p style="color:black">Analyses crowd density, motion, behavior in a user defined zone based on age and gender. 
                Understanding the crowd movement and management for the security and facilities management agencies!
                Raises an alert if the crowd density within a camera view is above a certain threshold
                </p>
            </div>
          </div>
          <div class="row">
            <p style="color:black"><b>Behavioral Analysis  </b></p>
            <hr>
            <div class="col-sm-6 ">
              <img src="./../../../assets/img/safety/8.jpg" alt="" style="width: 100%;">
            </div>
            <div class="col-sm-6 ">
              <p style="color:black">We can capture staff emotion or do behavioral analysis in the region of interest area. 
                Example: Teller Counter, Branch Manager or any specific desk Behavior possible to capture: anger, contempt, disgust, fear, joy, sadness and surprise. Behavior/Code of conduct is very important at workplace to represent the efficiency and smooth working process.
                </p>
            </div>
          </div>
          <div class="row">
            <p style="color:black"><b>Thermal Scanning   </b></p>
            <hr>
            <div class="col-sm-6 ">
              <img src="./../../../assets/img/safety/9.jpg" alt="" style="width: 100%;">
            </div>
            <div class="col-sm-6 ">
              <p style="color:black">We have the capability of doing analytics on the military grade EO/IR cameras feature detection ranges for humans up to 2-5 km and vehicles at 5-10 km range. Depending on pan/tilt and gyro system selected our vision analytics can be used on moving vehicles and ships to maintain a steady image on target and come as standard with incredible build quality and cutting edge technology to increase range detection and reduce outside influences such as fog/haze</p>
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-sm-6 ">
              <img src="./../../../assets/img/safety/10.jpg" alt="" style="width: 100%;">
            </div>
            <div class="col-sm-6 ">
              <p style="color:black">Sed ut perspiciatis...</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 ">
              <img src="./../../../assets/img/safety/11.jpg" alt="" style="width: 100%;">
            </div>
            <div class="col-sm-6 ">
              <p style="color:black">Sed ut perspiciatis...</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 ">
              <img src="./../../../assets/img/safety/12.jpg" alt="" style="width: 100%;">
            </div>
            <div class="col-sm-6 ">
              <p style="color:black">Sed ut perspiciatis...</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 ">
              <img src="./../../../assets/img/safety/13.jpg" alt="" style="width: 100%;">
            </div>
            <div class="col-sm-6 ">
              <p style="color:black">Sed ut perspiciatis...</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 ">
              <img src="./../../../assets/img/safety/14.jpg" alt="" style="width: 100%;">
            </div>
            <div class="col-sm-6 ">
              <p style="color:black">Sed ut perspiciatis...</p>
            </div>
          </div> -->
      </div>
</div>