


<div  style="margin-top:70px">
<div class="container">
    <div class="row">
        <div class="col-md-12">
        <h1 class="lg-text" style="color: #0071b3;"> <b>About Us</b></h1>
        <hr>
    </div>
    </div>
</div>
 <div class="container mt-5" style="margin-top: 2rem;">
    <div class="row">
        <div class="col-md-12 hea">
            <p style="margin-bottom: 0.8rem;">
                Cogvision Pvt. Ltd., is a subsidiary of Cogxar research and development center for artificial intelligence which was founded in the year 2012.
            </p>
                <p style="margin-bottom: 0.8rem;">
                    Cogvision’s AI platform is focused on providing next-generation AI based video and vision analytics by optimizing and reducing the infrastructure needs (overall storage, compute and network bandwidth requirements) for our clients. 
                </p>
                <p style="margin-bottom: 0.8rem;">
                    Cogvision’s focus areas would be to bring intelligence into Industrial Inspection using proprietary Mathematical and analytical models and providing Safety &amp; Security solutions using advanced Facial Recognition AI models.
                 </p>
                 <p style="margin-bottom: 0.8rem;">
                     Headquartered in Bangalore, Cogvision has a strong techno leadership team with the combination of strong R&amp;D in artificial intelligence and exposure to running large scale programs at Infosys, Accenture, Dell, Siemens, PwC, IBM, Thomson Reuters, Honeywell &amp; Procter Gamble and building successful startups.
                    </p>
                </div>
            </div>
        </div>

        <section class="our-webcoderskull padding-lg">
            <div class="container">
              <div class="row heading heading-icon">
                  <h2 style="color: #0071b3;"><b>Our Team</b> </h2>
              </div>
              <ul class="row">
                <li class="col-12 col-md-6 col-lg-6">
                    <div class="cnt-block equal-hight" >
                      <figure><img src="./../../../assets/img/1st.png" class="img-responsive" alt=""></figure>
                      <h3> <b> Naveen Srinivas </b></h3>
                      <p> <b>Founder</b> </p>
                      <br>
                      <p>MSc in Evolutionary and Adaptive systems from University of Sussex, U.K and Bachelors in Computer Engineering. His core areas of experience includes Industrial Automation, Product Lifecycle Management, Non-linear Control Systems and Industrial Robotics.</p>
                      <p>Corporate Experience: Siemens, Reva, Bajaj, Mahindra, Hero Honda etc.</p>
                      <!-- <ul class="follow-us clearfix">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                      </ul> -->
                    </div>
                </li>
                <li class="col-12 col-md-6 col-lg-6">
                    <div class="cnt-block equal-hight" >
                      <figure><img src="./../../../assets/img/2nd.png" class="img-responsive" alt=""></figure>
                      <h3><b>Aditya Upadhyaya </b></h3>
                      <p> <b>CEO</b> </p>
                      <br>
                      <p>5+ years of Business experience generating revenues of  $ 2M+ / PA, Organization (self-funded)</p>
                       <p> 14+ years of IT experience with 6+ years of International experience working in USA. </p>
                       <p>  Corporate Experience: Infosys, Bank Of America and Dell
                        Education: MBA from IIMK, BE Gold Medalist.</p>
                      <!-- <ul class="follow-us clearfix">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                      </ul> -->
                    </div>
                 </li>
                <li class="col-12 col-md-6 col-lg-6">
                    <div class="cnt-block equal-hight" >
                      <figure><img src="./../../../assets/img/3rd.png" class="img-responsive" alt=""></figure>
                      <h3><b>Kumaran Arumugam </b></h3>
                      <p> <b>COO</b> </p>
                      <br>
                      <p>Overall 20 years of Global IT Services and Consulting experience with in-depth expertise in Practice & Program Management, Service Delivery Management, Executing very large digital transformation engagements.
                        Have extensive international working experience in US, UK for around 8+years with clients on Banking & Financial, Energy, Retail and healthcare industries. 
                      <p>  Corporate Experience: PwC, Infosys, Bank Of America, Shell, Tesco, Accenture </p>
                       <p> Education: BE from Bangalore University</p>
                        
                      <!-- <ul class="follow-us clearfix">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                      </ul> -->
                    </div>
                </li>
                <li class="col-12 col-md-6 col-lg-6">
                    <div class="cnt-block equal-hight" >
                      <figure><img src="./../../../assets/img/4th.png" class="img-responsive" alt=""></figure>
                      <h3> <b>Vishwas SD </b> </h3>
                      <p> <b>CMO</b> </p>
                      <br>
                      <p>Vishwas SD comes with 16 years of work experience managing key project's with IBM, Honeywell, Realogy, Cushman& Wakefield, Procter & Gamble, Thomson Reuters, T8 Technologies 
                      <p>Completed his Commerce graduation along with Diploma in Csc holds Toast Masters Certification, SAP Certified and PGM in Digital Marketing. A well known name in Indian Motorsports is a multi time off road Champion.</p> 
                      <p>Brings along a versatile experience in marketing and branding for Cogvision.</p>
                        
                      <!-- <ul class="follow-us clearfix">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                      </ul> -->
                    </div>
                </li>
              </ul>
            </div>
          </section>
          
    </div>